@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #ee9ca7;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

.hidden{
    display: none !important;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style:italic;
  text-align: center;
}

.text h1 {
    font-size: 1.4em;
}

/* ============================================== Character
*/

.character {

}

#piggy {
    top: 70%;
    left: 50%;
}

#flower {
    top: 65%;
    left: 10%;
}

#roof {
    top: 10%;
    left: 10%;
}

#poke {
    top: 25%;
    left: 65%;
}

.standUpAndDown {
    animation-name: standUpAndDown ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.standRotateABit {
    animation-name: standRotateABit ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.standHandMove {
    animation-name: standHandMove ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.standRotateAround {
    animation-name: standRotateAround ;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.appearFromLeft {
    animation-name: appearFromLeft ;
    animation-duration: 1s;
}

.appearFromRight {
    animation-name: appearFromRight ;
    animation-duration: 1s;
}

/* ============================================== Animation Character
*/

@keyframes standUpAndDown {
    0% {padding-top: 0%}
    50% {padding-top: 10%}
    100% {padding-top: 0%}
}

@keyframes standRotateABit {
    0% {transform: rotate(-15deg)}
    50% {transform: rotate(00deg)}
    100% {transform: rotate(-15deg)}
}

@keyframes standRotateAround {
    0% {transform: rotate(0deg)}
    20% {transform: rotate(15deg)}
    45% {transform: rotate(0deg)}
    65% {transform: rotate(-15deg)}
    80% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes standHandMove {
    0% {
        transform: rotate(-10deg);
        margin-left: -8%;
    }
    50% {
        transform: rotate(10deg);
        margin-left: 15%;
    }
    100% {
        transform: rotate(-10deg);
        margin-left: -8%;
    }
}

@keyframes appearFromLeft {
    0% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes appearFromRight {
    0% {
        transform: translate(50%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

/* ============================================== Wishes
*/

.wish-section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 11;
    border-radius: 10px;
    border: 3px solid rgb(255, 227, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/930847.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wish-contain{
    background-color: #ffffffe0;
    padding: 20px;
    max-width: 400px;
}

.wish-contain p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}
